/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 60%;
  padding-top: 25px;
}

.heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 600;
}

.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #334155;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  height: 150px;
  width: 150px;
}

.button {
  background-color: #f9d423;
  color: #475569;
  font-family: 'Roboto';
  border-radius: 8px;
  margin-top: 20px;
  height: 50px;
  width: 90px;
  border: none;
  outline: none;
  cursor: pointer;
}

.result-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 30px;
}

.result {
  font-family: 'Roboto';
  font-size: 18px;
  padding: 25px;
}
